__pycache__/
*.py[cod]
.venv/
.env

artifacts/*
!artifacts/.gitkeep
!artifacts/checkpoints/
!artifacts/eval/
artifacts/checkpoints/*
artifacts/eval/*
!artifacts/checkpoints/.gitkeep
!artifacts/eval/.gitkeep

models/
*.log
*.tmp

